In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('aluguel_residencial.csv',sep=";")

In [3]:
#classes de imóveis por número de quartos:
# 1 e 2
# 3 e 4
# 5 e 6
# 7 ou mais
classes = [0, 2, 4, 6, 100]

In [4]:
quartos = pd.cut(dados.Quartos, classes)

In [5]:
quartos

0        (0.0, 2.0]
1        (0.0, 2.0]
2        (0.0, 2.0]
3        (0.0, 2.0]
4        (0.0, 2.0]
            ...
22352    (0.0, 2.0]
22353           NaN
22354    (2.0, 4.0]
22355    (0.0, 2.0]
22356    (0.0, 2.0]
Name: Quartos, Length: 22357, dtype: category
Categories (4, interval[int64, right]): [(0, 2] < (2, 4] < (4, 6] < (6, 100]]

In [6]:
pd.value_counts(quartos)

(0, 2]      11774
(2, 4]       9685
(4, 6]        686
(6, 100]       50
Name: Quartos, dtype: int64

In [7]:
labels = ['1 e 2 quartos', '3 e 4 quartos', '5 e 6 quartos', '7 quartos ou mais']

In [8]:
quartos = pd.cut(dados.Quartos, classes, labels=labels)

In [11]:
pd.value_counts(quartos)

1 e 2 quartos        11774
3 e 4 quartos         9685
5 e 6 quartos          686
7 quartos ou mais       50
Name: Quartos, dtype: int64