In [1]:
import pandas as pd

In [2]:
s = [0, 1, 2, 3]

In [3]:
s = pd.Series(s)

In [4]:
s

0    0
1    1
2    2
3    3
dtype: int64

In [5]:
a = {'linha' + str(i) : i for i in range(4)}

In [6]:
a

{'linha0': 0, 'linha1': 1, 'linha2': 2, 'linha3': 3}

In [14]:
index = ['linha' + str(i) for i in range(4)]

In [15]:
a = [0, 1, 2, 3]

In [16]:
df = pd.DataFrame(data=a,index=index)

In [17]:
df

        0
linha0  0
linha1  1
linha2  2
linha3  3

In [20]:
df = df+10
df

         0
linha0  20
linha1  21
linha2  22
linha3  23

## Dataframe

In [29]:
df_1 = pd.DataFrame(data=[(0,1,2),(3,4,5),(6,7,8)],index=index)
df_2 = pd.DataFrame(data=[(3,4,5),(6,7,8),(0,1,2)],index=index)

In [30]:
df_1

        0  1  2
linha0  0  1  2
linha1  3  4  5
linha2  6  7  8

In [31]:
df_2

        0  1  2
linha0  3  4  5
linha1  6  7  8
linha2  0  1  2

In [35]:
df_3 = pd.concat([df_1,df_2])

In [36]:
df_3

        0  1  2
linha0  0  1  2
linha1  3  4  5
linha2  6  7  8
linha0  3  4  5
linha1  6  7  8
linha2  0  1  2

In [37]:
df_4 = pd.concat([df_1,df_2],axis=1)
df_4

        0  1  2  0  1  2
linha0  0  1  2  3  4  5
linha1  3  4  5  6  7  8
linha2  6  7  8  0  1  2

In [38]:
dados = [[1, 2, 3], [4, 5, 6]]
index = 'X,Y'.split(',')
columns = list('CBA')[::-1]
df = pd.DataFrame(dados, index, columns)
df

   A  B  C
X  1  2  3
Y  4  5  6

In [39]:
dados = {'A': {'X': 1, 'Y': 3}, 'B': {'X': 2, 'Y': 4}}
df = pd.DataFrame(dados)
df

   A  B
X  1  2
Y  3  4

In [40]:
dados = [('A', 'B'), ('C', 'D')]
df = pd.DataFrame(dados, columns = ['L1', 'L2'],  index = ['C1', 'C2'])
df

   L1 L2
C1  A  B
C2  C  D

In [41]:
df1 = pd.DataFrame({'A': {'X': 1}, 'B': {'X': 2}})
df2 = pd.DataFrame({'C': {'X': 3}, 'D': {'X': 4}})
pd.concat([df1, df2])

     A    B    C    D
X  1.0  2.0  NaN  NaN
X  NaN  NaN  3.0  4.0